@font-face {
    font-family: 'EuclidCircular';
    src: url(euclid-circular/Euclid\ Circular\ B\ Medium.ttf);
}
*
{
    margin: 0;
    padding: 0;
    font-family: 'EuclidCircular';
}
html
{
    scroll-behavior: smooth;
    transition-duration: 10ms;
}

/* SIGN UP */

.hero-4 h1
{

    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    color: #85B04C;
    margin-top: 80px;
    margin-bottom: 20px;

}
.hero-4 p
{
    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    color: #394532;
}

/*Options section*/

.wrapper 
{
    display: flex;
    margin: 80px 0px;  
}
.box
{
    border: 1px solid grey;
    border-radius: 10px;
}
.wrapper  h2
{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.wrapper .box p
{
    font-family: 'Euclid Circular B';
    font-style: normal;
    font-size: 16px;
    text-align: left;
    margin-left: 15px;
    margin-top: 10px;
    text-decoration: none;
}
.wrapper .box
{
    width: 500px;
    height: 450px;
    float: left;
    margin: 10px;
}
.box:hover
{
    background-color: #e2fdbe;
}
.vector-image-1
{
    padding-left: 38%;
    margin: 55px 0px;
    color: #394532;
    
}
.vector-image-2
{
    padding-left: 38%;
    margin: 55px 0px;
    color: #394532; 
}
.vector-image-3
{
    padding-left: 38%;
    margin: 65px 0px;
    color: #394532;
    
}
.vector-image-1  .vector-1
{
    width: 30%;
}

.vector-image-2 .vector-2
{
    width: 30%;
}

.vector-image-3 .vector-3
{
    width: 38%;
}

















/* media queries for web responsive */

@media only screen and (max-width:900px)
{
    .box
    {
        width: 1%;
    }
    .hero-4
    {
        flex-direction: column;
        margin: 50px 0px;
    }
    .wrapper
    {
        flex-direction: column;
        margin: 50px ;
        margin-left: 10px;
        
    }  
    .wrapper .box
    {
        width: 100%;
        height: 100%;
    }
  

}